/* 
  -----------------------------------
  Tree Menu Magic 2
  by Project Seven Development
  www.projectseven.com
  Style Theme: 09 - Multicolor
  -----------------------------------
*/

.p7TMM09 {
	font-size: inherit;
	font-family: Arial, Helvetica, sans-serif;
	padding: 6px;
	zoom: 1;
	/* background-color: #222; */
	background-color: #E1E1D0;
}
.p7TMM09 div {
	zoom: 1;
}
.p7TMM09 ul {
	margin: 0;
	padding: 0;
}
.p7TMM09 ul ul {
	background-color: #FFF;
	border: 0 !important;
}
.p7TMM09 ul ul ul {
	background-color: transparent;
}
.p7TMM09 ul ul a.trig_closed {
	background-color: transparent;
	border: 0;
}
.p7TMM09 ul li {
	list-style-type: none;
	margin: 3px 0px;
	border-bottom: 1px solid #000;
}
.p7TMM09 ul ul li {
	/* padding-left: 1em; */
}
.p7TMM09 ul ul li {
	border-bottom: 0;
	margin: 0;
}
.p7TMM09 li.tmmlast {
	margin: 0;
	border-bottom: 0;
}
.p7TMM09 ul a {
	color: #CCC;
	display: block;
	padding: 6px 8px 6px 18px;
	text-decoration: none;
	zoom: 1;
	outline: 0;
}
.p7TMM09 ul a:hover, .p7TMM09 ul a:focus, .p7TMM09 ul a:active {
	color: #FFF;
	text-decoration: underline;
}
.p7TMM09 ul ul a {
	font-size: 95%;
	color: #000;
	padding: 3px 8px 3px 18px;
	border: 0 !important;
}
.p7TMM09 a.p7tmm_page {
	/* background-image: url(img/tmm_page_square.gif); */
	background-repeat: no-repeat;
	background-position: left center;
}
.p7TMM09 a.trig_closed {
	background-image: url(img/tmm_east_black.gif);
	background-repeat: no-repeat;
	background-position: left center;
	color: #FFF;
}
.p7TMM09 a.trig_open {
	background-image: url(img/tmm_south_white.gif);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #222;
	color: #CCC;
	text-transform: uppercase;
}
.p7TMM09 ul ul a.trig_closed, .p7TMM09 ul ul a.trig_open {
	letter-spacing: 0.1em;
	font-size: 1em;
}
.p7TMM09 ul ul a:link.trig_open {
	color: #000;
	background-color: transparent;
	background-image: url(img/tmm_south_black.gif);
}
.p7TMM09 ul ul a:hover, .p7TMM09 ul ul a:focus, .p7TMM09 ul ul a:active {
	color: #000;
}
/*First Root Menu*/
.p7TMM09 .root_1 ul, .p7TMM09 .root_1 a.trig_closed {
	/* border-top: 1px solid #FFD942;
	border-right: 1px solid #E6B800;
	border-bottom: 1px solid #E6B800;
	border-left: 1px solid #FFD942;
	background-color: #FC0; */
	background-color: #F7F7DB;
	color: #000;
}
.p7TMM09 .root_1 ul a:hover, .p7TMM09 .root_1 ul a:focus, .p7TMM09 .root_1 ul a:active {
	color: #039;
}
.p7TMM09 .root_1 a.trig_open {
	/* color: #FFF; */
	color: #5a5a5a;
	border: 0;
	background-color: transparent;
}
/*Second Root Menu*/
.p7TMM09 .root_2 ul, .p7TMM09 .root_2 a.trig_closed {
	background-color:#9ED200;
	border-top: 1px solid #B6F200;
	border-right: 1px solid #8FBF00;
	border-bottom: 1px solid #8FBF00;
	border-left: 1px solid #B6F200;
	color: #000;
}
.p7TMM09 .root_2 ul a:hover, .p7TMM09 .root_2 ul a:focus, .p7TMM09 .root_2 ul a:active {
	color: #FFF;
}
.p7TMM09 .root_2 a.trig_open {
	color: #FFF;
	border: 0;
	background-color: transparent;
}
/*Third Root Menu*/
.p7TMM09 .root_3 ul, .p7TMM09 .root_3 a.trig_closed {
	background-color:#EF3A21;
	border-top: 1px solid #F2604A;
	border-right: 1px solid #E22B10;
	border-bottom: 1px solid #E22B10;
	border-left: 1px solid #F2604A;
	color: #000;
}
.p7TMM09 .root_3 ul a:hover, .p7TMM09 .root_3 ul a:focus, .p7TMM09 .root_3 ul a:active {
	color: #FFF;
}
.p7TMM09 .root_3 a.trig_open {
	color: #FFF;
	border: 0;
	background-color: transparent;
}
/*Fourth Root Menu*/
.p7TMM09 .root_4 ul, .p7TMM09 .root_4 a.trig_closed {
	background-color:#09F;
	border-top: 1px solid #46B5FF;
	border-right: 1px solid #0086DF;
	border-bottom: 1px solid #0086DF;
	border-left: 1px solid #46B5FF;
	color: #000;
}
.p7TMM09 .root_4 ul a:hover, .p7TMM09 .root_4 ul a:focus, .p7TMM09 .root_4 ul a:active {
	color: #FFF;
}
.p7TMM09 .root_4 a.trig_open {
	color: #FFF;
	border: 0;
	background-color: transparent;
}
/*Fifth Root Menu*/
.p7TMM09 .root_5 ul, .p7TMM09 .root_5 a.trig_closed {
	background-color:#AAA;
	border-top: 1px solid #BEBEBE;
	border-right: 1px solid #9A9A9A;
	border-bottom: 1px solid #9A9A9A;
	border-left: 1px solid #BEBEBE;
	color: #000;
}
.p7TMM09 .root_5 ul a:hover, .p7TMM09 .root_5 ul a:focus, .p7TMM09 .root_5 ul a:active {
	color: #FFF;
}
.p7TMM09 .root_5 a.trig_open {
	color: #FFF;
	border: 0;
	background-color: transparent;
}
.p7TMM09 a.current_mark {
	font-weight:bold;
	color:#FFF;
}
.p7TMM09 ul ul a.current_mark {
	color:#000;
}
.p7TMMtoggle {
	display:none;
}
.p7TMM09_toggle_all {
	margin: 0 0 12px 0;
}
.p7TMM09_toggle_all a {
	color: #000;
	outline: 0;
}
.p7TMM09_toggle_all a:hover, .p7TMM09_toggle_all a:focus, .p7TMM09_toggle_all a:active {
	color: #06C;
	text-decoration: underline;
}
