/* 
  ----------------------------------------
  Tree Menu Magic 2
  by Project Seven Development
  www.projectseven.com
  Style Theme: 13 - Existentiality Black
  ----------------------------------------
*/

.p7TMM13 {
	font-size: 14px;
	font-family: Calibri, Arial, sans-serif;
	padding: 0px;
	zoom: 1;
}
.p7TMM13 div {zoom: 1;}
.p7TMM13 ul {
	margin: 0;
	padding: 0;
}
.p7TMM13 ul li {
	list-style-type: none;
	margin: 4px 0;
}
.p7TMM13 ul li.root_1 {
	margin-top: 0;
}
.p7TMM13 ul ul {
	border-top: 1px solid #C3C3C3;
	border-right: 1px solid #909090;
	border-bottom: 5px solid #909090;
	border-left: 1px solid #C3C3C3;
	background-color: #949494;
	background-image: url(img/tmm_exist_submenu.jpg);
	background-repeat: repeat-y;
	position: relative;
	top: 4px;
	padding: 4px 0;
}
.p7TMM13 ul ul li {
	margin: 0;
}
.p7TMM13 ul ul ul {
	background-color: transparent;
	background-image: none;
	border: 0;
	border-left: 1px dotted #000;
	position: static;
	padding: 0;
}
.p7TMM13 ul ul div {
	padding-left: 9px;
}
.p7TMM13 ul a {
	display: block;
	padding: 6px 8px 6px 18px;
	border-top: 1px solid #7BA8A8;
	border-right: 1px solid #588585;
	border-bottom: 1px solid #588585;
	border-left: 1px solid #7BA8A8;
	background-color: #699;
	color: #000;
	text-decoration: none;
	zoom: 1;
	outline: 0;
}
.p7TMM13 ul a:hover, .p7TMM13 ul a:focus, .p7TMM13 ul a:active {
	color: #FFF;
}
.p7TMM13 ul ul a {
	font-size: 95%;
	color: #000;
	padding: 3px 8px 3px 18px;
	border: 0;
	background-color: transparent;
}
.p7TMM13 ul ul a:hover, .p7TMM13 ul ul a:focus, .p7TMM13 ul ul a:active {
	color: #FFF;
}
.p7TMM13 a.p7tmm_page {
	background-image: url(img/tmm_exist_page_black.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7TMM13 a.p7tmm_page:hover {
	background-color: #999;
	border-color: #ACACAC #8B8B8B #8B8B8B #ACACAC;
}
.p7TMM13 ul ul a.p7tmm_page:hover {
	background-color: transparent;
	border: 0;
}
.p7TMM13 a.trig_closed {
	background-image: url(img/tmm_east_black.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7TMM13 a.trig_closed:hover {
	background-color: #999;
	border-color: #ACACAC #8B8B8B #8B8B8B #ACACAC;
}
.p7TMM13 ul ul a.trig_closed {
	color: #000;
	background-color: transparent;
}
.p7TMM13 ul ul a.trig_closed:hover {
	color: #FFF;
	background-color: transparent;
}
.p7TMM13 a.trig_open {
	background-image: url(img/tmm_south_white.gif);
	background-repeat: no-repeat;
	background-position: left center;
	color: #FFF;
	border: 0;
	background-color: transparent;
}
.p7TMM13 ul ul a.trig_open {
	color: #000;
	background-color: transparent;
	background-image: url(img/tmm_south_black.gif);
}
.p7TMM13 ul ul a.trig_open:hover {
	color: #FFF;
}
.p7TMM13 a.current_mark {
	font-weight:bold;
}
.p7TMM13 ul ul a.current_mark {
	color:#FFF;
}
.p7TMMtoggle {
	display:none;
	margin: 0 0 12px 0;
	font-size: 12px;
}
.p7TMM13_toggle_all a {
	color: #06C;
	outline: 0;
}
.p7TMM13_toggle_all a:hover, .p7TMM13_toggle_all a:focus, .p7TMM13_toggle_all a:active {
	color: #EEE;
}
