/* 
  -----------------------------------
  Tree Menu Magic 2
  by Project Seven Development
  www.projectseven.com
  Style Theme: 04 - Carbon
  -----------------------------------
*/

.p7TMM04 {
	font-size: inherit;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	zoom: 1;
	border-bottom: 1px solid #000;
	background-image: url(img/tmm_rootGradientBlack.jpg);
	background-repeat: repeat-y;
	background-color: #333;
	border-top: 1px solid #333;
	border-right: 1px solid #000;
	border-left: 1px solid #333;
}
.p7TMM04 div {
	zoom: 1;
}
.p7TMM04 ul {
	margin: 0;
	padding: 0;
}
.p7TMM04 ul div {
	background-color: #FFF;
	background-image: url(img/tmmbevel_white.jpg);
	background-repeat: repeat-x;
}
.p7TMM04 ul ul div {
	background-color: transparent;
	background-image: none;
}
.p7TMM04 ul li {
	list-style-type: none;
}
.p7TMM04 ul ul li {
	padding-left: 1em;
}
.p7TMM04 ul a {
	color: #CCC;
	display: block;
	padding: 6px 8px 6px 18px;
	text-decoration: none;
	zoom: 1;
	border-top: 1px solid #333;
	border-bottom: 1px solid #000;
	outline: 0;
}
.p7TMM04 a.tmmlast {
	border-bottom: 0;
}
.p7TMM04 ul a:hover, .p7TMM04 ul a:focus {
	color: #EEE;
}
.p7TMM04 ul ul a {
	border: 0;
	padding: 3px 8px 3px 18px;
	color: #000;
	background-color: transparent !important;
	background-image: none;
	font-size: 95%;
}
.p7TMM04 ul ul a:hover, .p7TMM04 ul ul a:focus {
	color: #06C;
	text-decoration: underline;
}
.p7TMM04 a.p7tmm_page {
	background-image: url(img/tmm_page_square_gray.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7TMM04 ul ul a.p7tmm_page {
	background-image: url(img/tmm_page_squareopen_white.gif);
}
.p7TMM04 ul ul a.p7tmm_page:hover {
	background-image: url(img/tmm_page_square.gif);
}
.p7TMM04 a.trig_closed {
	background-image: url(img/tmm_east_gray.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7TMM04 ul ul a.trig_closed {
	background-image: url(img/tmm_east_black.gif);
}
.p7TMM04 a.trig_open {
	background-image: url(img/tmm_south_gray.gif);
	background-repeat: no-repeat;
	background-position: left center;
	color: #EEE;
}
.p7TMM04 ul ul a.trig_open {
	color: #000;
	background-image: url(img/tmm_south_black.gif);
	text-decoration: underline;
}
.p7TMM04 a.current_mark, .p7TMM04 a.current_mark:hover {
	color:#EEE;
	font-weight: bold;
}
.p7TMM04 ul ul a.current_mark, .p7TMM04 ul ul a.current_mark:hover {
	color:#000;
	font-weight: bold;
}
.p7TMMtoggle {
	display:none;
}
.p7TMM04_toggle_all {
	margin: 0 0 12px 0;
}
.p7TMM04_toggle_all a {
	color: #000;
	outline: 0;
}
.p7TMM04_toggle_all a:hover, .p7TMM04_toggle_all a:focus, .p7TMM04_toggle_all a:active {
	color: #06C;
	text-decoration: underline;
}
