/* 
  -----------------------------------
  Tree Menu Magic 2
  by Project Seven Development
  www.projectseven.com
  Style Theme: 07 - Image-Based
  -----------------------------------
*/

.p7TMM07 {
	font-size: inherit;
	padding-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	zoom: 1;
}
.p7TMM07 div {
	zoom: 1;
}
.p7TMM07 img {
	border: 0;
	vertical-align: bottom;
}
.p7TMM07 ul {
	margin: 0;
	padding: 0;
}
.p7TMM07 ul li {
	list-style-type: none;
	margin: 0px 0px;
}
.p7TMM07 ul ul ul li {
	padding-left: 20px;
	padding-right: 20px;
}
.p7TMM07 ul a {
	display: block;
	padding: 0;
	text-decoration: none;
	zoom: 1;
	margin-bottom: 6px;
}
.p7TMM07 ul ul a {
	padding: 3px 8px 3px 22px;
	color: #69A4FE;
	outline: 0;
	font-size: 90%;
	border: 1px solid #69A4FE;
}
.p7TMM07 ul ul a:hover, .p7TMM07 ul ul a:focus, .p7TMM07 ul ul a:active {
	color: #69A4FE;
	text-decoration: underline;
}
.p7TMM07 ul ul a.trig_closed {
	background-image: url(img/tmm_neon_plusBlue.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7TMM07 ul ul a.trig_open {
	background-image: url(img/tmm_neon_minusBlue.gif);
	background-repeat: no-repeat;
	background-position: left center;
	font-weight: bold;
	text-decoration: underline;
}
.p7TMM07 ul ul a.trig_open {
	color: #69A4FE !important;
}
.p7TMM07 a.current_mark {
	font-weight:bold;
	color:#3083FE;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.p7TMMtoggle {
	display:none;
}
.p7TMM07_toggle_all {
	margin: 0 0 12px 0;
}
.p7TMM07_toggle_all a {
	color: #69A4FE;
	font-variant: small-caps;
	outline: 0;
}
.p7TMM07_toggle_all a:hover, .p7TMM07_toggle_all a:focus, .p7TMM07_toggle_all a:active {
	color: #CCC;
	text-decoration: underline;
}
