.leaflet-control-layers-group-name {
  font-weight: bold;
  margin-bottom: .2em;
  display: block;
}

.leaflet-control-layers-group {
  margin-bottom: .5em;
}

.leaflet-control-layers-group label {
  padding-left: .5em;
}
.jssor_mainimage { 
			   position: relative; 
			   width: 560px; /* for IE 6 */
			   height: 315px;
			}

			h2 { 
			   position: absolute; 
			   bottom: 10px; 
			   left: 0; 
			   width: 100%; 
			}
			h2 span { 
			   color: white; 
			   font: bold 24px/45px Helvetica, Sans-Serif; 
			   letter-spacing: -1px;  
			   background: rgb(0, 0, 0); /* fallback color */
			   background: rgba(0, 0, 0, 0.7);
			   padding: 10px; 
			}
			h2 span.spacer {
			   padding:0 5px;
			}
			h3 { 
			   /* position: absolute; */
			   top: 10px; 
			   right:0px; 
			   width: 100%; 
			   /* float:right; */
			}
			h3 span { 
			   color: white; 
			   font: bold 24px/45px Helvetica, Sans-Serif; 
			   letter-spacing: -1px;  
			   background: rgb(0, 0, 0); /* fallback color */
			   background: rgba(0, 0, 0, 0.7);
			   padding: 10px; 
			}
			h3 span.spacer {
			   padding:0 5px;
			}
     .ui-jcoverflip {
        position: relative;
      }
      
      .ui-jcoverflip--item {
        position: absolute;
        display: block;
      }