/* 
  -----------------------------------
  Pop Menu Magic 2
  by Project Seven Development
  www.projectseven.com
  Menu Type: Horizontal
  Style Theme: 06 - Multicolor 2
  -----------------------------------
*/

/*Menu Outer Wrapper*/
.p7PMMh06 {
	width: auto;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: inherit;
	text-align: left;
	line-height: normal;
}
.p7PMMh06 .p7PMM {
	margin: 0 auto;
}
/*Hide Sub-Menu in Design View*/
.p7PMMh06 ul div {
	display: none;
}
.p7PMMh06 ul ul div {
	left: auto;
}
/*Provide Buffer for lowered 1st level Drop Down*/
.p7PMMh06 ul div {
	padding-top: 6px;
	background-image: url(img/pmm_iefix.gif);
}
/*Remove Buffer 2nd level flyouts*/
.p7PMMh06 ul ul div {
	padding-top: 0px;
	background-image: none;
}
/*
TOP LEVEL MENU
*/
.p7PMMh06 ul {
	margin: 0;
	padding: 0;
}
.p7PMMh06 li {
	list-style-type: none;
	float: left;
	width: 120px;
	margin-right: 3px;
	padding: 1px;
	background-color: #FFF;
	border: 1px solid #000;
}
/* Hide from IE5 Mac \*/
.p7PMMh06 li {width: auto;}
/* End Hiding */

/*Top Level Links*/
.p7PMMh06 a {
	display: block;
	text-decoration: none;
	padding: 8px 18px 8px 12px;
	color: #000 !important;
	background-color: #D8D8D8 !important;
	text-align: left;
}
.p7PMMh06 a:hover {
	color: #FFF !important;
	border-color: #000;
	background-color: #333 !important;
}
/*
Syntax for special classes programatically assigned to first and last links and also LIs
See user guide for more information
*/
.p7PMMh06 ul a.pmmfirst {
}
.p7PMMh06 ul a.pmmlast {
}
.p7PMMh06 ul ul a.pmmlast {

}
.p7PMMh06 ul li.pmmfirst {
}
/*First Sub Level*/
.p7PMMh06 ul ul {
	width: 200px;
	border: 1px solid #000;
	padding: 1px;
	background-color: #FFF;
}
.p7PMMh06 ul ul li {
	margin: 0;
	padding: 0;
	border: 0;
	float: none;
	background-color: #333;
}
.p7PMMh06 ul ul a {
	padding: 4px 12px;
	color: #D8D8D8 !important;
	border: 0;
	background-color: #333 !important;
	text-align: left;
	overflow: hidden;
}
.p7PMMh06 ul ul a:hover {
	color: #EEE !important;
	background-color: #666 !important;
}
/*Third Level (Flyouts in horizontal menu)*/
.p7PMMh06 ul ul ul {}
/*
SPECIAL IMAGE-BASED RULES
*/
.p7PMMh06 img {
	border: 0;
}
.p7PMMh06 .p7PMM_img {
	padding: 0;
	border: 0;
}
/*Special Multicolor Rules*/
.p7PMMh06 .root_1 a {
	background-color: #999 !important;
	color: #FFF !important;
}
.p7PMMh06 .root_2 a {
	background-color: #333 !important;
	color: #FFF !important;
}
.p7PMMh06 .root_3 a {
	background-color: #C95050 !important;
	color: #FFF !important;
}
.p7PMMh06 .root_4 a {
	background-color: #F90 !important;
	color: #000 !important;
}
.p7PMMh06 .root_5 a {
	background-color: #E0DB1F !important;
	color: #000 !important;
}

.p7PMMh06 .root_1 a:hover {
	background-color: #333 !important;
	color: #D8D8D8 !important;
}
.p7PMMh06 .root_2 a:hover {
	background-color: #956F84 !important;
	color: #FFF !important;
}
.p7PMMh06 .root_3 a:hover {
	background-color: #669CC4 !important;
	color: #FFF !important;
}
.p7PMMh06 .root_4 a:hover {
	background-color: #C1DF4A !important;
	color: #000 !important;
}
.p7PMMh06 .root_5 a:hover {
	background-color: #FFDB4A !important;
	color: #000 !important;
}

.p7PMMh06 .root_1 li, .p7PMMh06 .root_1 ul a, .p7PMMh06 .root_1 a:hover,
.p7PMMh06 .root_1 a.trig_open, .p7PMMh06 .root_1 a.trig_open_left,
.p7PMMh06 .root_1 a.trig_open_up {
	background-color: #333 !important;
	color: #D8D8D8 !important;
	border-color: #000;
}
.p7PMMh06 .root_2 li, .p7PMMh06 .root_2 ul a, .p7PMMh06 .root_2 a:hover,
.p7PMMh06 .root_2 a.trig_open, .p7PMMh06 .root_2 a.trig_open_left,
.p7PMMh06 .root_2 a.trig_open_up {
	background-color: #956F84 !important;
	color: #FFF !important;
	border-color: #000;
}
.p7PMMh06 .root_3 li, .p7PMMh06 .root_3 ul a, .p7PMMh06 .root_3 a:hover,
.p7PMMh06 .root_3 a.trig_open, .p7PMMh06 .root_3 a.trig_open_left,
.p7PMMh06 .root_3 a.trig_open_up {
	background-color: #669CC4 !important;
	color: #FFF !important;
	border-color: #000;
}
.p7PMMh06 .root_4 li, .p7PMMh06 .root_4 ul a, .p7PMMh06 .root_4 a:hover,
.p7PMMh06 .root_4 a.trig_open, .p7PMMh06 .root_4 a.trig_open_left,
.p7PMMh06 .root_4 a.trig_open_up {
	background-color: #C1DF4A !important;
	color: #000 !important;
	border-color: #000;
}
.p7PMMh06 .root_5 li, .p7PMMh06 .root_5 ul a, .p7PMMh06 .root_5 a:hover,
.p7PMMh06 .root_5 a.trig_open, .p7PMMh06 .root_5 a.trig_open_left,
.p7PMMh06 .root_5 a.trig_open_up {
	background-color: #FFDB4A !important;
	color: #000 !important;
	border-color: #000;
}
.p7PMMh06 .root_1 ul a:hover, .p7PMMh06 .root_1 ul a.trig_open, .p7PMMh06 .root_1 ul a.trig_open_left {
	background-color: #666 !important;
	color: #FFF !important;
}
.p7PMMh06 .root_2 ul a:hover, .p7PMMh06 .root_2 ul a.trig_open, .p7PMMh06 .root_2 ul a.trig_open_left {
	background-color: #A68898 !important;
	color: #000 !important;
}
.p7PMMh06 .root_3 ul a:hover, .p7PMMh06 .root_3 ul a.trig_open, .p7PMMh06 .root_3 ul a.trig_open_left {
	background-color: #98BDD8 !important;
	color: #000 !important;
}
.p7PMMh06 .root_4 ul a:hover, .p7PMMh06 .root_4 ul a.trig_open, .p7PMMh06 .root_4 ul a.trig_open_left {
	background-color: #9EBE21 !important;
	color: #FFF !important;
}
.p7PMMh06 .root_5 ul a:hover, .p7PMMh06 .root_5 ul a.trig_open, .p7PMMh06 .root_5 ul a.trig_open_left {
	background-color: #333 !important;
	color: #FFF !important;
}
/*
TRIGGERS and CUURENT MARK RULES
The Closed state relates to trigger items when their child menus are not showing
The Open state relates to trigger items when their child menus are showing
Selectors appended with _left Automatically change arrow position and orientation
if sub levels are set to fly out to the left
*/
.p7PMMh06 ul a.trig_closed, .p7PMMh06 ul a.trig_closed_left {
	background-image: url(img/pmm_south_light.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.p7PMMh06 ul a.trig_closed_up {
	background-image: url(img/pmm_north_light.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
/*Sub Level*/
.p7PMMh06 ul ul a.trig_closed {
	background-image: url(img/pmm_east_light.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.p7PMMh06 ul ul a.trig_closed_left {
	background-image: url(img/pmm_west_dark.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7PMMh06 ul a.trig_open, .p7PMMh06 ul a.trig_open_up {
	color: #CCC !important;
	background-color: #333 !important;
	border-color: #000;
}
.p7PMMh06 ul ul a.trig_open {
	color: #EEE !important;
	background-color: #666 !important;
}
/*The Current Marker (You are here) links*/
.p7PMMh06 .current_mark {
	font-weight: bold !important;
	color: #ffffff !important;
	text-transform: uppercase;
}
/*
Utility Rule used for Clearing floats in Horizontal Menus
*/
.p7pmmclearfloat {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
