/* 
  -----------------------------------
  Pop Menu Magic 2
  by Project Seven Development
  www.projectseven.com
  Menu Type: Vertical
  Style Theme: 02 - Topaz
  -----------------------------------
*/

/*Menu Outer Wrapper*/
.p7PMMv02 {
	width: auto;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: inherit;
	text-align: left;
	line-height: normal;
}
/*Hide Sub-Menu in Design View*/
.p7PMMv02 ul div {
	display: none;
}
/*
TOP LEVEL MENU
*/
.p7PMMv02 ul {
	margin: 0;
	padding: 0;
	border-top: 1px solid #4E4E4E;
	border-right: 1px solid #333;
	border-bottom: 1px solid #000;
	border-left: 1px solid #4E4E4E;
}
.p7PMMv02 li {
	list-style-type: none;
	background-image: url(img/pmm_topaz_v1.jpg);
	background-repeat: repeat-y;
	background-color: #666;
}
.p7PMMv02 a {
	display: block;
	text-decoration: none;
	padding: 5px 16px;
	color: #CCC !important;
	text-align: left;
}
.p7PMMv02 a:hover {
	color: #FFF !important;
	background-color: #000 !important;
}
/*
Syntax for special classes programatically assigned to first and last links and also LIs
See user guide for more information
*/
.p7PMMv02 ul a.pmmfirst {
}
.p7PMMv02 ul a.pmmlast {
}
.p7PMMv02 ul li.pmmfirst {
}
.p7PMMv02 ul li.pmmlast {
}

/*First Sub Level*/
.p7PMMv02 ul ul {
	z-index: 10000;
	width: 180px;
	border-top: 1px solid #89CCDA;
	border-right: 1px solid #328DA0;
	border-bottom: 1px solid #328DA0;
	border-left: 1px solid #89CCDA;
	background-color: #FFF;
	background-image: url(img/pmm_topaz_vsub.jpg);
	background-repeat: repeat-x;
}
.p7PMMv02 ul ul li {
	background-image: none;
	background-color: transparent;
}
.p7PMMv02 ul ul a {
	color: #000 !important;
	text-align: left;
	overflow: hidden;
}

/*
SPECIAL IMAGE-BASED RULES
*/
.p7PMMv02 img {
	border: 0;
}
.p7PMMv02 .p7PMM_img {
	padding: 0;
	border: 0;
	background-image: none;
	background-color: transparent;
}

/*
TRIGGERS and CUURENT MARK RULES
The Closed state relates to trigger items when their child menus are not showing
The Open state relates to trigger items when their child menus are showing
Selectors appended with _left Automatically change arrow position and orientation
if sub levels are set to fly out to the left
*/

/*Root Level*/
.p7PMMv02 a.trig_closed {
	background-image: url(img/pmm_east_medium.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.p7PMMv02 a.trig_closed_up {
	background-image: url(img/pmm_north_medium.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7PMMv02 a.trig_closed_left {
	background-image: url(img/pmm_west_medium.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7PMMv02 a.trig_open, .p7PMMv02 a.trig_open_left {
	color: #CCC !important;
	background-color: #000 !important;
}
/*Sub Level*/
.p7PMMv02 ul ul a.trig_closed {
	background-image: url(img/pmm_east_dark.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.p7PMMv02 ul ul a.trig_closed_left {
	background-image: url(img/pmm_west_dark.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7PMMv02 ul ul a.trig_open, .p7PMMv02 ul ul a.trig_open_left {
	color: #CCC !important;
	background-position: left bottom;
	background-repeat: repeat-x;
	background-image: url(img/pmm_topaz_v1.jpg);
}

/*The Current Marker (You are here) links*/
.p7PMMv02 .current_mark {
	font-weight: bold;
	color: #FFFFFF !important;
}
.p7PMMv02 ul ul .current_mark {
	color: #000 !important;
}
.p7PMMv02 .current_mark:hover {
	font-weight: bold;
	color: #FFFFFF !important;
}
