html {
    height: 100%;
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}

* {
    font-family: 'Tahoma';
}

body {
    background-color: #000;
    margin: 0;
    height: 100%;
}

a, a:hover, a:active, a:visited {
    color: inherit;
    text-transform: none;
    color: #CC0000;
    cursor: pointer;
}
section.nav a,
section.footer a,
section.nav a:hover,
section.footer a:hover, 
section.nav a:active, 
section.footer a:active,
section.nav a:visited,
section.footer a:visited {
    color: #FFF;
}

.leather-container-head {
    background-image: url("../images/bg_header.jpg");
    background-size: cover;
    max-width: 1142px;
    color: #888;
}
.leather-container-foot {
    background-image: url("../images/bg_footer.jpg");
    background-size: cover;
    color: #888;
}

#header-menu {
    padding-top: 25px;
    height: 80px;
    /*background-image: url('../images/motoguzzilogo2.png');*/
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    text-align: center;
    font-size: 13pt;
    color: #fff;
}

.menu-logo-guzzi div {
    position: absolute;
    width: 100%;
    height: 126px;
    top: -81px;
    background-image: url('../images/motoguzzilogo2.png');
    background-position: center;
    background-repeat: no-repeat;
}

.carousel {
    padding: 0px;
}
.carousel-image {
    height: 750px !important;
}
.carousel-caption {
    text-align: left;
    padding-left: 22px;
    bottom: 42px;
    left: 42px;  
    float: left;
    font-family: Roboto-Light !important;
}
.carousel-caption h3, .carousel-caption p {
    font-family: Roboto-Light !important;
    padding: 0px;
    margin: 0px;
}
.carousel-caption h3 {
    font-weight: bold;
    font-size: 42px;
}
.carousel-caption p {
    font-size: 18px;
    padding-left: 2px;
}
.carousel .left {
    margin-left: -52px;
}
.carousel .right {
    margin-right: -46px;
}
.carousel-red-label {
    position: absolute;
    right: 5%;
    top: 6%;
    background-color: #ff0000;
    color: #fff;
    padding: 2px 5px;
}

#box-images {
    max-width: 1170px;
    margin-left: 1px;
}
#box-images img {
    width: 100%;
}

.footer-container {
    max-width: 1146px;
    min-height: 120px;
    padding-top: 30px;
    font-size: 8pt;
}
.footer-container a {
    display: inline-block;
    padding: 3px;
    text-decoration: underline;
}

#fixed-menu {
    background-color: #000;
    text-align: center;
}

.img-caption {
    display: none;
    position: absolute;
    background-color: #000;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    opacity: 0.9;
}
.img-caption-text {
    margin-top: 2px !important;
    margin-bottom: 0 !important;
    margin-left: 4px !important;
    padding-left: 12px;
}

.social-icon {
    height: 19px;
    margin: 2px 3px;
}
.facebook {
    width: 19px;
    background: url('../images/socialNetwork.png') 0 -3186px no-repeat;
}
.instagram {
    width: 19px;
    background: url('../images/socialNetwork.png') 0 -2592px no-repeat;
}
.twitter {
    width: 19px;
    background: url('../images/socialNetwork.png') 0 -2711px no-repeat;
}
.pinterest {
    width: 19px;
    background: url('../images/socialNetwork.png') 0 -1578px no-repeat;
}
.youtube {
    width: 47px;
    background: url('../images/socialNetwork.png') 0 -1325px no-repeat;
}
.g-plus {
    width: 19px;
    background: url('../images/socialNetwork.png') 0 -2347px no-repeat;
}


/* content page */
#content-header-menu a {
    display: inline-block;
    margin: 16px 12px;
    white-space: nowrap;
    font-size: 13pt;
    color: #ccc;
}

#map-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-color: #000;
    opacity: 0.6;
}
#map-canvas {
    width: 100%;
    height: 100%;
    max-width: 1140px;
    position: absolute;
    margin-left: 16px;
    z-index: -200;
}

.introimage {
    height: 420px;
    max-width: 1140px;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.content-container {
    font-family: Calibri, Arial;
    font-size: 16pt;
    background-color: #fff;
    font-family: Roboto-Light;
    min-height: 760px;
}
.content-title {
    margin: 0 12px 12px 12px;
    padding: 6px 0;
    border-top: solid 1px #d4d4d4;
    border-bottom: solid 1px #d4d4d4;
    font-size: 22pt;
    font-style: italic;
    font-family: 'Courgette', cursive;
}

.content-data {
    margin: 0 12px;
    font-family: Roboto-Light;
}
.content-text {
    margin: 12px;
    font-size: 14px;
}
.content-location {
    font-size: 11px;
    padding-left: 12px;
    margin-bottom: 22px;
}
.content-social {
    min-height: 80px;
}
.content-social h4 {
    padding-left: 10px;
    font-size: 11px;
}
.content-social .shareaholic-canvas {
    position: relative;
    left: -4px;
    top: 4px;
}

#content {
    visibility: visible;
}

.breadcrumb {
    font-size: 8pt;
    margin: 18px 12px 4px 12px;
    /*background: #fff;*/
}


#exit-button {
    position: absolute;
    top: 18px;
    right: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
}
/* end of content page */

.map-menu {
    background-color: #919191;
    max-width: 1140px;
    margin-left: 0px;
}
.map-menu .col-xs-12 {
    padding: 0 56px 0 36px;
}
.map-menu-buttons {
    margin: 8px 8px 4px 16px;
    font-size: 13pt;
    display: inline-block;
    
}
.map-menu-buttons label, .map-menu-buttons input, #map-menu-return {
    cursor: pointer;
    color: #000;
}
.map-menu-return {
    float: right;
    display: inline-block;
    margin: 12px -22px 4px 0;
    font-size: 12px;
    cursor: pointer;
}
.map-menu-search {
    padding: 0 0 10px 14px;
    max-width: 820px;
}

#fixed-content-menu {
    display: none;
}

.showmenu {
    display: block !important;
    color: #333 !important;
}

.newsletter-menu input,
.newsletter-menu button {
    border-radius: 0px;
}
.newsletter-menu .email {
    max-width: 240px;
    background-color: #ddd;
    color: #000;
}

.soccorso {
   margin-bottom: 22px;
}
.soccorso img {
   margin-left: 10px;
   cursor: pointer;
}
.soccorso .message {
   margin-left: 10px;
}
.soccorso .panel {
   margin: 12px 10px 0 10px;
   font-size: 12px;
}
